html, body {
    background: #331a26;
    overflow: hidden;
}

.bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #af773c;
}

.drop {
    position: absolute;
    width: 15vmin;
    height: 15vmin;
    background: #af773c;
    border-radius: 100%;
}
